@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  scroll-behavior: smooth;
  background-color: #0f172a; /* Slate 900 for dark theme */
  color: #f8fafc; /* Slate 50 for text */
}
